/* line 1, ../sass/_calculator.scss */
.container { margin-top: 50px; }

/* line 5, ../sass/_calculator.scss */
.calculator-content { margin-bottom: 50px; border: 1px solid #e8e8e8; *zoom: 1; }
/* line 38, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\utilities\general\_clearfix.scss */
.calculator-content:after { content: ""; display: table; clear: both; }
/* line 9, ../sass/_calculator.scss */
.calculator-content .calculator-left { width: 230px; height: 771px; float: left; background: #f7f7f7; border-right: 1px solid #e8e8e8; }
/* line 15, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-tabs { margin-bottom: 100px; }
/* line 17, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-tabs h1 { font-size: 24px; color: #4c4948; padding: 20px 15px; margin: 0; border-bottom: 1px solid #e8e8e8; }
/* line 24, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-tabs a { display: block; width: 100%; height: 50px; line-height: 50px; font-size: 16px; padding-left: 15px; border-bottom: 1px solid #e8e8e8; }
/* line 33, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-tabs a.on { color: #e8380d; background: #fff url(../images/public/o-tabs.jpg) no-repeat 200px 50%; }
/* line 39, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-table { padding: 0 15px; margin-bottom: 30px; }
/* line 42, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-table p { font-size: 14px; color: #e8380d; margin-bottom: 10px; }
/* line 47, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-table table { font-size: 12px; border: 1px solid #e8e8e8; }
/* line 50, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-table table th { font-weight: bold; }
/* line 53, ../sass/_calculator.scss */
.calculator-content .calculator-left .calculator-table table th, .calculator-content .calculator-left .calculator-table table td { text-align: center; line-height: 25px; height: 25px; overflow: hidden; border: 1px solid #e8e8e8; }
/* line 63, ../sass/_calculator.scss */
.calculator-content .calculator-right { width: 905px; float: right; }
@media only all and (max-width: 1024px) { /* line 63, ../sass/_calculator.scss */
  .calculator-content .calculator-right { width: 75%; } }
/* line 69, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t { height: 491px; border-bottom: 1px solid #e8e8e8; }
/* line 72, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols { width: 50%; *width: 49%; height: 100%; float: left; border-right: 1px solid #e8e8e8; }
/* line 78, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols > .tit { height: 80px; line-height: 80px; padding: 0 40px; color: #e8380d; font-size: 14px; border-bottom: 1px solid #e8e8e8; }
/* line 86, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form { padding: 30px 40px; }
@media only all and (max-width: 1024px) { /* line 86, ../sass/_calculator.scss */
  .calculator-content .calculator-right .right-row-t .right-row-cols .msg-form { padding: 30px 0px; } }
/* line 91, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .msg-tip { margin-left: 95px; font-size: 12px; margin-top: 3px; color: #949291; }
/* line 97, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .form-row { margin-bottom: 15px; overflow: hidden; *zoom: 1; }
/* line 101, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .form-row input { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; }
/* line 107, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .form-row label { margin-right: 8px; }
/* line 111, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .option-content p { margin: 10px 0; }
/* line 115, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .msg-option { width: 90px; text-align: right; display: inline-block; *display: inline; *zoom: 1; }
/* line 122, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn { margin-top: 30px; margin-left: 90px; }
/* line 125, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .o-btn, .calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .w-btn { display: inline-block; *display: inline; *zoom: 1; margin-right: 15px; width: 100px; height: 25px; line-height: 25px; text-align: center; border-radius: 15px; }
/* line 136, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .o-btn:hover, .calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .w-btn:hover { text-decoration: underline; }
/* line 139, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .o-btn { color: #fff; background: #eb502a; }
/* line 143, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .msg-form .group-btn .w-btn { height: 27px; color: #333; background: #fff; border: 1px solid #dbdbdb; }
/* line 151, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result { padding: 30px 40px; }
@media only all and (max-width: 1024px) { /* line 151, ../sass/_calculator.scss */
  .calculator-content .calculator-right .right-row-t .right-row-cols .result { padding: 30px 10px; } }
/* line 156, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result .msg-tip { margin-left: 128px; font-size: 12px; margin-top: 3px; color: #949291; }
/* line 162, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result p { margin-bottom: 15px; }
/* line 164, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result p span { display: inline-block; *display: inline; *zoom: 1; height: 20px; line-height: 20px; vertical-align: middle; }
/* line 172, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result p .underline { border-bottom: 1px solid #d5d5d5; margin-right: 10px; width: 120px; }
/* line 177, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .result p .tit { width: 90px; text-align: right; }
/* line 183, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-t .right-row-cols .tips { font-size: 12px; text-align: right; padding-right: 80px; }
/* line 191, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-b { padding: 30px 40px; }
/* line 193, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-b .tit { color: #e8380d; font-size: 14px; margin-bottom: 10px; }
/* line 198, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-b p { margin-bottom: 10px; }
/* line 201, ../sass/_calculator.scss */
.calculator-content .calculator-right .right-row-b .o-color { color: #e8380d; }
